<div>
  <h1>
    Proponte un objetivo
  </h1>
  <h2>
    Una de las claves de estudio es tener una meta clara. Fijarte un objetivo te facilitará la organización de tu
    aprendizaje y te ayudará a optimizar tu tiempo. Por ejemplo, “esta tarde estudio dos temas de esta materia” o
    “quiero obtener mi titulación en x tiempo”.
  </h2>
  <h1>
    Aprende en una buena plataforma educativa
  </h1>
  <h2>
    Una de las mayores ventajas que existen en la educación, máxime si es educación a distancia, es una buena plataforma
    educativa. Esto facilita el aprendizaje de los estudiantes y su desarrollo, ya que es el lugar en el que
    interaccionan con las materias y el centro educativo.
  </h2>
  <h1>
    Planifica tus horarios de estudio
  </h1>
  <h2>
    Crea una rutina de estudio acorde a tus necesidades u otras actividades. Tener una buena planificación es uno de los
    tips para estudiar más importantes. Ya sea a nivel semanal, mensual o en periodo de exámenes, un buen plan de
    estudios te facilitará la distribución y la optimización de tu tiempo. Igualmente, planificar te ayudará a
    concentrarte anticipadamente y, después, esto se verá reflejado en los resultados.
  </h2>
  <h1>
    Utiliza un método de estudio
  </h1>
  <h2>
    Existen varias técnicas de estudio que pueden favorecer y ayudar a tu aprendizaje. Por ejemplo, la técnica pomodoro,
    el método de Cornell, los mapas mentales, resúmenes, esquemas, etc.
  </h2>
  <h1>
    Practica lo aprendido
  </h1>
  <h2>
    Practicar constantemente lo aprendido ayuda a su retención. Una forma de practicar lo aprendido es la autoevaluación
    o la realización de simulacros de examen sobre la materia en cuestión. Esto te ayudará a detectar fallos, medir tu
    progreso y, además, ir más preparado/a para el examen real
  </h2>
  <h1>
    Haz descansos
  </h1>
  <h2>
    El descanso es una cuestión tan importante como el propio estudio. Dentro de tu objetivo diario también deben
    existir momentos en los que descansar la mente, la espalda y la vista. Los expertos recomiendan un descanso de 10
    minutos cada 50 minutos estudiando. De esta forma, evitarás el estrés, el cansancio, la saturación y el dolor
    muscular al estar cierto tiempo en la misma posición. Esos pequeños trozos de descanso harán que rindas más en tu
    estudio.
  </h2>
  <h1>
    Aprende a priorizar
  </h1>
  <h2>
    En lugar de estudiar todo el contenido en simultáneo, aprende a priorizar las tareas. Pon el foco en lo importante o
    en lo que precise de más tiempo. Haz un listado completo en el que se reflejen todas las tareas pendientes, analiza
    su relevancia y dificultad. ¡Calendariza cuándo tienes que finalizarlas, así tu productividad se verá aumentada! De
    tal manera, aprovecharás tu tiempo de estudio. ¡Esto tendrá un impacto positivo en tus calificaciones!
  </h2>
</div>


