
<div>
  <div class="container grid">
    <div class="medicina card" >
      <h1>Medicina</h1>
      <img src="https://i.gifer.com/EiL.gif">
      <h2>
        Si buscas una carrera desafiante y gratificante, estudia Medicina y conviértete en un profesional de la salud altamente valorado.
      </h2>
    </div>
    <div class="Obstetricia card">
      <h1>Obstetricia</h1>
      <img src="https://i.gifer.com/7EhL.gif">
      <h2>
        La carrera de Obstetricia es una de las más importantes y apasionantes dentro del campo de la salud, ya que te permite acompañar a las mujeres durante una de las etapas más importantes de sus vidas: el embarazo, el parto y el posparto. En esta carrera, podrás adquirir conocimientos y habilidades para el diagnóstico, tratamiento y prevención de problemas relacionados con el embarazo y el parto, y brindar cuidados de calidad tanto a la madre como al recién nacido. Además, tendrás la oportunidad de especializarte en diferentes áreas como la perinatología, la reproducción asistida y la salud sexual y reproductiva. Si te apasiona la salud materna y deseas tener un impacto significativo en la vida de las mujeres y sus familias, ¡la Obstetricia es la carrera perfecta para ti!
      </h2>
    </div>
    <div class="Abogado card">
      <h1>Abogado</h1>
      <img src="https://i.gifer.com/1t1z.gif">
      <h2>
        La carrera de Derecho es una de las más antiguas y respetadas del mundo, y ser un abogado te da la oportunidad de hacer una diferencia real en la vida de las personas y la sociedad en general. Como abogado, podrás ayudar a tus clientes a resolver problemas legales complejos, defender sus derechos y proteger sus intereses. Además, tendrás la oportunidad de especializarte en áreas como el derecho civil, penal, mercantil y laboral, entre otras. La carrera de abogado también te brinda la oportunidad de trabajar en diferentes sectores, como en empresas, organizaciones sin fines de lucro, en el sector público o incluso emprender tu propio negocio. Si buscas una carrera desafiante, emocionante y llena de oportunidades para hacer una diferencia positiva en el mundo, ¡la abogacía es para ti!
      </h2>

    </div>
    <div class="IngIndutrial card">
      <h1>Ing Indutrial</h1>
      <img src="https://i.gifer.com/2unv.gif">
      <h2>
        La carrera de Ingeniería Industrial es una de las más versátiles y emocionantes dentro del campo de la ingeniería, ya que te permite aplicar conocimientos y herramientas técnicas para optimizar procesos y sistemas en diferentes industrias y organizaciones. En esta carrera, podrás aprender sobre gestión de proyectos, análisis de datos, diseño y mejora de procesos, logística y control de calidad, entre otras áreas. Además, tendrás la oportunidad de especializarte en diferentes campos, como la automatización, la gestión de la cadena de suministro y la ingeniería de calidad. La ingeniería industrial te brinda una amplia variedad de opciones de trabajo en empresas de manufactura, consultorías, organizaciones sin fines de lucro y el sector público. Si te apasiona la innovación y la optimización de procesos, ¡la ingeniería industrial es la carrera perfecta para ti!
      </h2>

    </div>
    <div class="IngDeSistema card">
      <h1>Ing De Sistema</h1>
      <img src="https://i.gifer.com/Wlog.gif">
      <h2>
        La carrera de Ingeniería de Sistemas es una de las más demandadas y apasionantes dentro del campo de la tecnología, ya que te permite aplicar conocimientos y herramientas para diseñar, desarrollar e implementar sistemas informáticos y de información que resuelvan problemas complejos y satisfagan necesidades de diferentes organizaciones. En esta carrera, podrás aprender sobre programación, bases de datos, redes de computadoras, seguridad informática, inteligencia artificial y otras áreas de vanguardia. Además, tendrás la oportunidad de especializarte en diferentes campos como la ingeniería de software, la gestión de proyectos tecnológicos y la ciberseguridad. La Ingeniería de Sistemas te brinda una amplia variedad de opciones de trabajo en empresas de tecnología, startups, consultorías y el sector público. Si te apasiona la innovación y la resolución de problemas tecnológicos, ¡la Ingeniería de Sistemas es la carrera perfecta para ti!
      </h2>
    </div>


  <div class="Veterinaria card">
    <h1>Veterinaria</h1>
    <img src="https://i.gifer.com/1ElT.gif">
    <h2>

      La carrera de veterinaria es una excelente opción para quienes aman a los animales y desean ayudar a mejorar su salud y bienestar. En esta carrera, podrás aprender sobre anatomía y fisiología animal, diagnóstico y tratamiento de enfermedades, cirugía y nutrición, entre otras áreas. Además, tendrás la oportunidad de especializarte en áreas como la medicina veterinaria, la investigación animal y la salud pública. La veterinaria es una carrera desafiante y gratificante, que te permitirá trabajar con animales de todo tipo y tener un impacto positivo en su vida y en la sociedad en general. ¡Únete a la comunidad de profesionales dedicados a la salud y el bienestar animal!
    </h2>
  </div>
  <div class="Odontologia card">
    <h1>Odontologia</h1>
    <img src="https://i.gifer.com/6W8b.gif" >
    <h2>
      La carrera de Odontología es una de las más importantes y necesarias dentro del campo de la salud, ya que te permite cuidar y preservar la salud bucal de las personas. En esta carrera, podrás aprender sobre anatomía, fisiología, patología y tratamientos dentales, además de desarrollar habilidades manuales y de comunicación para trabajar con tus pacientes. También tendrás la oportunidad de especializarte en diferentes áreas como la ortodoncia, la periodoncia, la endodoncia y la odontopediatría, entre otras. La Odontología te brinda una amplia variedad de opciones de trabajo en consultorios privados, clínicas dentales, hospitales y el sector público. Si buscas una carrera desafiante, gratificante y con un impacto significativo en la salud de las personas, ¡la Odontología es la carrera perfecta para ti!
    </h2>
  </div>
</div>
</div>


