<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mi carrera Profesional</title>
  <link rel="stylesheet" href="app.component.css">
</head>
<body>
 <header class="header">
   <nav class="nav">
     <a href="#" class="logo nav-link">Logo </a>
     <ul class="nav-menu">
       <li class="nav-menu-item">
         <a href="#" class="nav-menu-link nav-link">Info Carreras</a>
       </li>
       <li class="nav-menu-item">
         <a href="#" class="nav-menu-link nav-link">Recomendaciones</a>
       </li>
       <li class="nav-menu-item">
         <a href="#" class="nav-menu-link nav-link">Planificar</a>
       </li>
       <li class="nav-menu-item">
         <a href="#" class="nav-menu-link nav-link">Continuidad</a>
       </li>
     </ul>
   </nav>
 </header>
</body>
</html>
